.venv/
__pycache__/
*.pyc
infra/.env
PLAN.md
CHALLENGE-BRIEF.md
ARTICULO.md
infra/.empaquetado.yaml
infra/backup/

# terraform
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.*
*.tfplan
backend.hcl
crash.log
